{% extends '../base.html' %}
{% load static %}


{% block content %}
    <div class="login_container">
        <div class="row">
            <div class="col-md-12 login_divider" ></div>
        </div>
        <div class="row">
            <div class="col-md-12 login_divider">
                <form>
                    <div class="col-md-3"></div>
                    <div class="col-md-6" id="login_lecturer">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email_login" placeholder="email@example.com">
                            <input type="password" class="form-control" id="password_login" placeholder="********">
                            <button type="submit" class="btn btn-custom btn-block">Login</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login_divider"></div>
        </div>
    </div>
{% endblock %}

