{% extends 'registration/login.html' %}
{% load static %}
    {% block form-login %}
        <h3>REGISTRATION</h3>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            {{ form.email.errors }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
            <script type="text/javascript" >
                $(document).ready(function(){
                    $("#id_email").attr('placeholder', 'E-mail address');
                    $("#id_password1").attr('placeholder', 'Password');
                    $("#id_password2").attr('placeholder', 'Repeat password');
                });
            </script>
            <input class="btn" type="submit" value="Register">
        </form>
    {% endblock %}

{% block footerLinkChange %}
    <a class="item" href="{% url 'lecturer:front_page' %}">LECTURER</a>
{% endblock %}