/*Bootstrap and styling of frontpage*/

.frontpage_divider {
    position: relative;
    padding-bottom: 14%;
    width: 100%;
}

body {
	max-height: 100%;
}

.footer {
  position: absolute;
  border-top: 1px solid #007d70;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f2f2f2;
}

.logo {
	margin-top: 15px;
	width: 150px;
	height: auto;
	margin-left: 15px;
}

.row {
	margin-left: 0px;
	max-width: 100%;
}

@media (max-width: 750px) {
	.logo {
		width: 125px;
		margin-left: -20px;
		margin-top: 19px;
	}
}

* {
	color: #007d70;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.item {
	position: absolute;
	top:30px;
	color: #007d70;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.frontpage_container {
	height: 100%;
	width: 100%;
}

.frontpage_background_container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.form-group h3, .form-group div {
	text-align: center;
}

.form-group .btn {
	position: absolute;
	margin-top: 10px;
	left:50%;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom,#00AF9C 0,#007d70 100%);
	border-color: #007d70;
	color:white;
}

.form-group .btn:hover {
	background-color: #007d70;
}

.frontpage_background {
	position: fixed;
    width: 100%;
    height: auto;
    min-width: 1024px;
    min-height: 100%; 
    z-index: -1;
    top:0;
    left:0;
}

/* Bootstrap form-control. Used for applying same styles to #id_username and #id_password. */

.form-control, #id_username, #id_password, #id_password1, #id_password2 {
 display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.form-control:focus, #id_username:focus, #id_password:focus, #id_password1:focus, #id_password2:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder, #id_username::-moz-placeholder, #id_password::-moz-placeholder,#id_password1::-moz-placeholder, #id_password2::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder, #id_username:-ms-input-placeholder, #id_password:-ms-input-placeholder, #id_password1:-ms-input-placeholder, #id_password2:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder, #id_username::-webkit-input-placeholder, #id_password::-webkit-input-placeholder, #id_password2::-webkit-input-placeholder, #id_password1::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand, #id_username::-ms-expand, #id_password::-ms-expand, #id_password1::-ms-expand, #id_password2::-ms-expand {
  background-color: transparent;
  border: 0;
}


@media (max-width: 1050px) {
  .row {
    margin-top: 7.5%;
  }
}
@media (max-width: 550px) {
  .row {
    margin-top: 15%;
  }
  .frontpage_background {
    margin-top: -125px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .row {
    margin-top: 0px;
  }
}


