
{% extends '../base.html' %}
{% load static %}

{% block content %}
  <a href="lecture/new">new lecture</a>
  <h3>{{ course_current.title }}</h3>
  <h4>{{ course_current.description }}</h4>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Pin</th>
    </tr>
    {% for lecture in lecture_list %}
      <tr>
        <th><a href="{{ course_current.title }}/{{ lecture.title }}">{{ lecture.title }}</a></th>
        <th>{{ lecture.description }}</th>
        <th>{{ lecture.pin }}</th>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
