
{% extends '../base.html' %}
{% load static %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {%  for course in courses %}
        <h3>{{ course.title }}</h3>

        {% for lecture in lectures %}
            {% if lecture.course == course %}
                <h5>{{ lecture.title }}</h5>
            {% endif %}
        {% endfor %}

    {% endfor %}

  <a href="/logout">LOGOUT</a>
{% endblock %}
