
{% extends '../base.html' %}
{% load static %}

{% block ex-head %}
    <script src="{% static 'scripts/lecturer.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <button type="button" id="new_course_button"> New course </button>
        <form id="course_form" style="display: none;">
            {% csrf_token %}
            <button type="button" id="course_form_back"><span class="glyphicon glyphicon-arrow-left"></span></button>
            {{ course_form.title }}
            <button type="submit" id="course_form_button"> Save </button>
        </form>
    </div>

    <div id="prototype_course_div" class="" style="display: none;">
        <button type="button" onclick="createLecture.call(this)">New lecture</button>
    </div>

    <div id="course_list" class="">
    </div>

    <a href="/logout/">LOGOUT</a>

{% endblock %}
