{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RealBack</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lecturer.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="login_container">
        <div class="row">
            <div class="col-md-12 login_divider" ></div>
        </div>
        <div class="row">
            <div class="col-md-12 login_divider">
                <form>
                    <div class="col-md-3"></div>
                    <div class="col-md-6" id="login_lecturer">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email_login" placeholder="email@example.com">
                            <input type="password" class="form-control" id="password_login" placeholder="********">
                            <button type="submit" class="btn btn-custom btn-block">Login</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login_divider"></div>
        </div>
    </div>

    <footer>
    </footer>

</body>
</html>
