{% extends '../base.html' %}
{% load static %}
{% block ex-head %}
    <link rel="stylesheet" type="text/css" href="{% static 'lecturer.css' %}">
{% endblock %}

{% block content %}
    <div class="login_container">
        <div class="frontpage_background_container">
            <img class="frontpage_background" src="{% static 'images/blackboard.jpg' %}">
        </div>
        <div class="row">
            <div class="col-md-12 frontpage_divider" ></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 frontpage_divider">
                <form>
                    <div class="col-xs-1 col-sm-3 col-md-4"></div>
                    <div class="col-xs-10 col-sm-6 col-md-4" id="login_lecturer">
                        <div class="form-group">
                            <h3>LOGIN AS LECTURER</h3>
                            <input type="email" class="form-control" id="email_login" placeholder="Email">
                            <input type="password" class="form-control" id="password_login" placeholder="Password">
                            <button type="submit" class="btn btn-custom btn-block">Login</button>
                            <div>
                                <p>NOT REGISTERED?</p>
                                <p><a href="#">REGISTER HERE!</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-3 col-md-4"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login_divider"></div>
        </div>
    </div>
{% endblock %}

