<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELP</title>
</head>
<body>

<h1>I want to hold a lecture</h1>
<p>
    Click the bottom right login link and create a user. Then you can create lecture which are organized in courses.
</p>
<p>
    To get people to attend your lecture, you must give them the PIN found in the upper right corner of the lecture's page.
</p>

<br>
<h1>I want to attend a lecture</h1>
<p>
    You don't need to create a user to attend a lecture. Just enter the PIN given to you by your lecturer.
</p>


</body>
</html>