{% extends '../base.html' %}
{% load static %}

{% block ex-head %}
    <script src="{% static 'scripts/attendee.js' %}"></script>
{% endblock %}

{% block content %}

<!-- FRONT PAGE ATTENDEE -->

<div id="frontpage_attendee">
	<div class="frontpage_container">
        {% block image %}
        <div class="frontpage_background_container">
            <img class="frontpage_background" src="{% static 'images/frontpage.jpg' %}">
        </div>
        {% endblock %}
        <div class="row">
            <div class="col-md-12 frontpage_divider" ></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 frontpage_divider">
                <div class="col-xs-1 col-sm-3 col-md-4"></div>
                <div class="col-xs-10 col-sm-6 col-md-4" id="hashForm">
                    <div class="form-group">
                    {% block form-login %}
                    <form>
                        <h3>SESSION PIN</h3>
                        <input type="text" class="form-control" placeholder="Enter your lecture's PIN here" id="pinInput">
                        <div id="join"></div>
                        <button type="submit" class="btn btn-success" id="joinButton">Join</button>
                    </form>
                    {% endblock %}
                    </div>
                </div>
                <div class="col-xs-1 col-sm-3 col-md-4"></div>
            </div>
        </div>
    </div>
</div>

<!-- ATTENDEE USER INTERFACE -->
<div id="landing_page">
	<header class="header col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-2 col-sm-1 col-md-2">
            <a href="/">
	            <img class="logo" src="{% static 'images/realbackLogoHuge.png' %}">
	        </a>
        </div>
        <div class="footerMenu">
	        <div class="col-xs-1 col-sm-2 col-md-4"></div>
	        <div class="col-xs-1 col-sm-3 col-md-3"></div>
	        <div class="col-xs-1 col-sm-2 col-md-2">
	             <p class="item lecture_title"></p>
	        </div>
        </div>
	</header>

	<div class="content container">
		<div class="col-md-12">
			<div class="big-box">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-8">
						<h3 class="did-you-h3">DID YOU UNDERSTAND?</h3>
					</div>
					<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-record glyph-center"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-sm-6">
				<div class="box col-sm-12">
					<div class="row">
						<div class="col-xs-10">
							<h3 class="soundlevel">OTHER STUDENTS ASKED</h3>
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-question-sign glyph-center"></span>
						</div>
					</div>
					<div class="row" id="asked_questions">
                        <ul id="question_list">
                        </ul>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="box col-sm-12">
					<div class="row">
						<div class="col-xs-10">
							<h3 class="soundlevel">ASK A QUESTION</h3>
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-question-sign glyph-center"></span>
						</div>
					</div>
					<div class="row">
						<form action="" method="POST" id="question_form">
							{% csrf_token %}
                            {{ question_form.text }}
							<button type="button" class="btn btn-success ask-q-btn"
                                    onclick="sendQuestion()">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-sm-6">

				<div class="box col-sm-12">
					<div class="row">
						<div class="col-xs-10">
							<h3 class="soundlevel">SOUND LEVEL</h3>
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-volume-up glyph-center"></span>
						</div>
					</div>
					<form id="volume_form">
                        {% csrf_token %}
                        {{ volume_form.volume }}
						<div class="row">
							<div class="col-md-12 vol-container">
								<div class="fit-vol-cont">
									<div class="col-xs-6 vol_name">
										<button type="button" id="volume_up" class="glyphicon vol-btn"
                                                onclick="updateVolume(true)">
											<h1 class="glyphicon glyphicon-menu-up glyph-up"></h1>
										</button>
										<h3 class="hidden-xs">HIGHER</h3>
									</div>
									<div class="col-xs-6 vol_name">
										<button type="button" id="volume_down" class="glyphicon vol-btn"
                                                onclick="updateVolume(false)">
											<h1 class="glyphicon glyphicon-menu-down glyph-down"></h1>
										</button>
										<h3 class="hidden-xs">LOWER</h3>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>

			<div class="col-sm-6">

				<div class="box col-sm-12">
					<div class="row">
						<div class="col-xs-10">
							<h3 class="soundlevel">PACE OF LECTURE</h3>
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-forward glyph-center"></span>
						</div>
					</div>
					<form id="pace_form">
                        {% csrf_token %}
                        {{ pace_form.pace }}
						<div class="row">
							<div class="col-md-12 vol-container">
								<div class="fit-vol-cont">
									<div class="col-xs-6 vol_name">
										<button type="button" id="pace_up" class="glyphicon vol-btn"
                                                onclick="updatePace(true)">
											<h1 class="glyphicon glyphicon-menu-up glyph-up"></h1>
										</button>
										<h3 class="hidden-xs">HIGHER</h3>
									</div>
									<div class="col-xs-6 vol_name">
										<button type="button" id="pace_down" class="glyphicon vol-btn"
                                                onclick="updatePace(false)">
											<h1 class="glyphicon glyphicon-menu-down glyph-down"></h1>
										</button>
										<h3 class="hidden-xs">LOWER</h3>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
