{% extends '../base.html' %}
{% load static %}

{% block content %}
<script>

	$(document).ready(function() {
	  	$('#landing_page').css( "display", "none" ),
		$('#frontpage_attendee').css( "display", "block" );
		$('.footer').css( "display", "block" );
	});

	function onJoin() {
        var lectureName = "";
        var pinAPI = '/lectures/' + $('#pinInput').val();
        $.getJSON(pinAPI, function (json) {
            if (json.success == false) {
                $('#landing_page').css("display", "none"),
                    $('#frontpage_attendee').css("display", "block");
                $('.footer').css("display", "block");
            } else if (json.success == true) {
                $('#landing_page').css("display", "block"),
                    $('#frontpage_attendee').css("display", "none"),
                    $('.footer').css("display", "none");
                lectureName = json.lecture.lecture_title;
                $('.lecture_title').text(lectureName.toUpperCase());
            }
        })
    }

    /**
     * Find a cookie
     *
     * @param name  Name of the cookie to find
     * @return      Cookie value as string or null if cookie does not exist
     */
    function getCookie(name) {
        var cookieVal = null;
        if (document.cookie && document.cookie !== "") {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    console.log(cookie);
                    cookieVal = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieVal;
    }

    /**
     * POST a form with csrftoken header
     *
     * @param action    URL to post to
     * @param form_el   DOM form element to send
     * @param success   Function callback on received response
     */
    function csrfPOST(action, form_el, success) {
	    var csrftoken = getCookie("csrftoken");
	    if (csrftoken === null) {
	        console.log("CSRF cookie not found!");
	        return;
        }
	    $.ajax({
		    url: action,
            type: "POST",
            headers: {"X-CSRFToken": csrftoken},
            data: form_el.serialize(),
            dataType: "json",
            success: success
		});
    }

	function sendQuestion () {
		var form_action = '/lectures/' + $('#pinInput').val() + '/questions/';
		var form_el = $("#question_form");
		function success(data) {
            console.log(data);
            // Empty question text box
            $("#id_text").val('');
            // Reload question list
            getQuestions();
        }
        csrfPOST(form_action, form_el, success);
	}

	function getQuestions () {
        var api_url = '/lectures/' + $('#pinInput').val() + '/questions/';
        $.getJSON(api_url, function (data) {
            console.log(data);
            if (data.success) {
                // TODO Update question list
            }
        });
    }

</script>

<!-- FRONT PAGE ATTENDEE -->

<div id="frontpage_attendee">
	<div class="frontpage_container">
        {% block image %}
        <div class="frontpage_background_container">
            <img class="frontpage_background" src="{% static 'images/frontpage.jpg' %}">
        </div>
        {% endblock %}
        <div class="row">
            <div class="col-md-12 frontpage_divider" ></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 frontpage_divider">
                <div class="col-xs-1 col-sm-3 col-md-4"></div>
                <div class="col-xs-10 col-sm-6 col-md-4" id="hashForm">
                    <div class="form-group">
                    {% block form-login %}
                    <form>
                        <h3>SESSION PIN</h3>
                        <input type="text" class="form-control" placeholder="Enter your lecture's PIN here" id="pinInput">
                        <div id="join"></div>
                        <button type="button" class="btn btn-success" id="joinButton" onclick="onJoin()">Join</button>
                    </form>
                    {% endblock %}
                    </div>
                </div>
                <div class="col-xs-1 col-sm-3 col-md-4"></div>
            </div>
        </div>
    </div>
</div>

<!-- ATTENDEE USER INTERFACE -->
<div id="landing_page">
	<header class="header col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-2 col-sm-1 col-md-2">
            <a href="/">
	            <img class="logo" src="{% static 'images/realbackLogoHuge.png' %}">
	        </a>
        </div>
        <div class="footerMenu">
        <div class="col-xs-1 col-sm-2 col-md-4"></div>
        <div class="col-xs-1 col-sm-3 col-md-3"></div>
        <div class="col-xs-1 col-sm-2 col-md-2">
             <p class="item lecture_title"></p>
        </div>
	</header>

	<div class="content container">
		<div class="big-box">
			
		</div>
		<div class="row ">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="box col-xs-12 col-sm-12 col-md-12">

				</div>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="box col-xs-12 col-sm-12 col-md-12">
					<h3 class="col-xs-6 col-sm-6 col-md-6">ASK A QUESTION 
						<h3 class="col-xs-6 col-sm-6 col-md-6 glyphicon glyphicon-question-sign"></h3>
						<form action="" method="POST" id="question_form">
                            {% csrf_token %}
                            {{ question_form.text }}
							<button type="button" class="btn btn-success ask-q-btn" onclick="sendQuestion()">Send</button>
						</form>
					</h3>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="box col-xs-12 col-sm-12 col-md-12">

				</div>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="box col-xs-12 col-sm-12 col-md-12">

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
