{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RealBack{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'attendee.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block ex-head %}{% endblock %}
    </head>

    <body>
        {% block navbar %}{% endblock %}

        {% block content %}
            <div class="frontpage_container">
                <div class="frontpage_background_container">
                    <img class="frontpage_background" src="{% static 'images/frontpage.jpg' %}">
                </div>
                <div class="row">
                    <div class="col-md-12 frontpage_divider" ></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 frontpage_divider">
                        <form>
                            <div class="col-xs-1 col-sm-3 col-md-4"></div>
                            <div class="col-xs-10 col-sm-6 col-md-4" id="hashForm">
                                <div class="form-group">
                                    <h3>SESSION PIN</h3>
                                    <input type="text" class="form-control" id="hashInput" placeholder="Enter your lecture's PIN here">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-3 col-md-4"></div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer %}
            <footer class="footer col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-1 col-sm-1 col-md-1">
                    <a href="#">
                        <img class="logo" src="{% static 'images/realbackLogoHuge.png' %}">
                    </a>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-6"></div>
                <div class="col-xs-2 col-sm-2 col-md-2" >
                    <a class="item" href="/lecturer/">HELP</a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2">
                    <a class="item" href="/lecturer/">ABOUT US</a>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1">
                    <a class="item" href="/lecturer/">LOGIN</a>
                </div>
            </footer>
        {% endblock %}

    </body>
</html>
