#id_username, #id_password, #id_password1,  #id_password2 {
    margin-top: 10px;
}

.errorlist li {
    margin-top: 10px;
    color: white;
}

.form-control {
    margin-top: 10px;
}

.form-group div {
    margin-top: 70px;
}

.form-group div p, .form-group div p a {
    color: white;
}

.form-group h3 {
    color: white;
}

.form-group div p:last-child {
    font-size: 10px;
    margin-top: 5px;
}

.lecturer_background {
    min-width: 1024px;
    min-height: 100%;
    position: fixed;
    top:50%;
    left:50%;
    width: 100%;
    height: auto;
    transform:translate(-50%,-50%);
}

/* Custom CSS for #00AF9C colored bootstrap buttons */
.btn-custom {
    background-color: #00AF9C;
    border-color: #00AF9C;
    color: white;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #007c6f;
    border-color: #007c6f;
    color: white;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #007c6f;
    border-color: #007c6f;
    color: white;
}

#landingpage_lecturer {
    margin-top: 0px;
    background-color: #ebebeb;
    height: 100vh;
}

.content_lecturer_landingpage {
    background-color: #ebebeb;
    position: absolute;
    top:100px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.glyphwhite {
    color:white;
}

.btn-lecturer {
    width: 200px;
}

#course_form, #course_form_button {

    margin-bottom: 10px;
}

#course_error_message {
    color: red;
}

.row_margin {
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.bars {
    position: relative;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 7px 8px 16px rgba(00,00,00,0.14);
    padding: 20px;
    height: auto;
    overflow: auto;
}

.btn-lecturer-stats {
    text-align: center;
    margin-top: -5px;
    height: 30px;
    width: 80px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-lecturer-stats p {
    color: white;
    width: 40px;
    float: right;
    margin-top: 5px;
}

.lecturer-glyph {
    margin-top: 6px;
    left:4px;
    color: white;
}

#course_form_back .glyphicon {
    color: white;
}

#course_form_back{
    position: absolute;
    height: 34px;
    width: 61px;
    border-radius: 8px 0px 0px 8px;
}
#course_form_back span {
    top:0;
}

#id_title {
    width: calc(100% - 151px);
    margin-left:61px;
    margin-right: 0px;
    position: absolute;
    border-radius: 0px;
}

#course_form_button {
    width: 61px;
    height: 34px;
    margin-top: 0px;
    float: right;
    border-radius: 0px 8px 8px 0px;
}

#course_form_button span {
    position: absolute;
    color: white;
    top:17px;
    right:30px;
}

/* Animation for warning text */
@keyframes warning_text {
    0%      {color: #F75D59;}
    50%     {color: white;}
    100%    {color: #F75D59;}
}

.list-group-custom {
    border-radius: 0px 0px 8px 8px;
    box-shadow: 7px 8px 16px rgba(00,00,00,0.14);
    z-index: 10;
    height: auto;
    border-top: 2px solid #b4b4b4;
    padding: 0px;
}

.bars-change-border-radius {
    border-radius: 8px 8px 0px 0px;
}

.list-group-item-custom {
    height: 40px;
    list-style: none;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}

.list-group-item-custom:not(:first-child) {
    border-top: 1px solid #b4b4b4; 
}

.bar-content {
    margin-bottom: 10px;
}

.bars-gray {
    background-color: #eeeeee;
}

.btn-lecturer-del {
    text-align: center;
    height: 25px;
    width: 60px;
    float: right;
    margin-left: 2px;
    margin-right: 5px;
    padding: 0px;
    margin-top:-2.5px;
}

.btn-lecturer-del p {
    color: white;
    width: 40px;
    float: right;
    margin-top: 2.5px;
    font-size: 12px;
}

.lecturer-glyph-del {
    top:2.5px;
    color: white;
    left: 5px;
}

.lecturer-button-div {
    margin-top: -20px;
}

.wraptext {
    word-wrap: break-word;
}

.bars-hover:hover {
    background-color: #fefefe;
    cursor: pointer;
}

.list-group-item-custom:hover {
    background-color: #fefefe;
}

@media (max-width: 780px) {

    .bars .btn-lecturer-stats {
        float: left;
    }

    .lecturer-button-div {
        width: 100%;
        margin-top: 20px;
    }

    .bars {
        height: auto;
    }
}